.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@rental, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.prepend-icon{:for => "address"}
                  = f.input :address, placeholder: "Direccion", input_html: { id: 'address', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "address"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "space_quantity"}
                  = f.input :space_quantity, placeholder: "Cantidad", input_html: { id: 'space_quantity', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "space_quantity"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.select
                  %select#section{:name => "rental[city_id]"}
                    %option{:value => ""} Seleccione la ciudad
                    - @cities.each do |city|
                      %option{:value => "#{city.id}"}= city.name.to_s
            .section.row
              .col-md-2
                .section
                  %label.field
                    %button.btn.btn-primary#add-detail{:type => 'button'} Agregar Detalle
            .row
              .col.sm-12.col-md-12
                .panel
                  .panel-body.pn
                    %table.table.table-hover
                      %thead
                        %tr.primary
                          %th Nombre
                          %th Tipo de Carro
                          %th Precio x Hora
                          %th X
                      %tbody#tbl-cont
                        - if @action == 'edit'
                          - @rental.spaces.each do |detail|
                            %tr
                              %td{:style => 'display:none'}
                                = hidden_field_tag "rental[spaces_attributes][" + @reg_n.to_s + "][id]", detail.id
                              %td
                                %label.field{:for => "name"}
                                  %input{:name => "rental[spaces_attributes][" + @reg_n.to_s + "][name]", :placeholder => "Nombre", :type => "text", :value => detail.price}
                              %td
                                %label.field{:for => "name"}
                                  %input{:name => "rental[spaces_attributes][" + @reg_n.to_s + "][type_of_car_id]", :placeholder => "Nombre", :type => "text", :value => (TypeOfCar.find(detail.item_asset_id).name)}
                              %td
                                %label.field{:for => "name"}
                                  %input{:name => "rental[spaces_attributes][" + @reg_n.to_s + "][price]", :placeholder => "Precio", :type => "text", :value => detail.price}
                              %td.text-right
                                %label.option.option-danger
                                  = check_box 'rental[spaces_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                                  %span.checkbox
                                  Eliminar?
                            - @reg_n += 1
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{rentals_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'rental[space_quantity]': {
          required: true
        },
        'rental[address]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'rental[space_quantity]': {
          required: 'Ingresar Cantidad'
        },
        'rental[address]': {
          required: 'Ingresar Dirección'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });
  
  $('#add-detail').click(function(){
      append_url_ajax("#{addMoreRows_rentals_path}", 'tbl-cont', null, 'POST');
      $('#alert-1').slideToggle('fast');
  });

  function del_bt(dom){
    $(dom).parent().parent().remove();
  }