.row
  .col-md-11.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@reservation, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-3
                %label.field.select
                  %select#car_chosen{:name => "reservation[car_id]"}
                    %option{:value => ""} Seleccione el vehiculo
                    - @cars.each do |car|
                      %option{:value => "#{car.id}"}= car.placa.to_s
              .col-md-3
                %input.gui-input{:name => "fecha", :placeholder => "Hora de Inicio", :type => "date"}
              .col-md-3
                %input.gui-input{:name => "timepicker1", :placeholder => "Hora de Inicio hh:mm", :type => "text"}
              .col-md-3
                %input.gui-input{:name => "timepicker2", :placeholder => "Hora de Fin hh:mm", :type => "text"}
            .section.row
              .col-md-5
                %label.field.select
                  %select#city-select{:name => "reservation[city_id]"}
                    %option{:value => ""} Seleccione el distrito
                    - @cities.each do |city|
                      %option{:value => "#{city.id}"}= city.name.to_s
              .col-md-2
                %a(href="javascript:update_spaces();" id="btn-add-article" class="btn btn-success" role="button")
                  Buscar Espacios
              .col-md-4
                %label.field.select
                  %select#space-select{:name => "reservation[space_id]"}
                    %option{:value => ""} Seleccione el espacio
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{reservations_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'car[placa]': {
          required: true
        },
        'car[description]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'car[placa]': {
          required: 'Ingresar Placa'
        },
        'car[description]': {
          required: 'Ingresar Descripcion'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });
  
  function update_spaces(){
    var url="#{complete_reservations_path}";
    var car_chosen=$('#car_chosen').val();
    var start_hour_chosen=$('#start_hour').val();
    var end_hour_chosen=$('#end_hour').val();
    var city_chosen=$('#city-select').val();
    var form_token="#{form_authenticity_token}";
    var default_value=0;
    var str_html = "";
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: {  car: car_chosen, start_hour: start_hour_chosen,end_hour: end_hour_chosen,city: city_chosen,authenticity_token: form_token}
    }).done(function( data ) {
      newOptions = [];
      $.each(data.combo, function(key, value){
        item = {};
        item['name'] = value.name;
        item['id'] = value.id;
        newOptions.push(item);
      });
      $('#space-select').empty();
      $('#space-select').append(
          $("<option></option>").attr("value", "0").text("Seleccione el espacio").attr("selected","selected")
        )
      $.each(newOptions, function(key,value){
        $('#space-select').append(
          $("<option></option>").attr("value", value.id).text(value.name)
        )
      });
    });
  }