.row
  .col-md-9.center-block
    / Form Wizard
    .admin-form.theme-primary
      .panel
        = simple_form_for(@reservation, html: {id: 'admin-form', autocomplete: 'off' }) do |f|
          .panel-body
            .section.row
              .col-md-4
                %label.field.select
                  %select#section{:name => "reservation[car_id]"}
                    %option{:value => ""} Seleccione el vehiculo
                    - @cars.each do |car|
                      %option{:value => "#{car.id}"}= car.placa.to_s
              .col-md-4
                %label.field.prepend-icon{:for => "start_hour"}
                  = f.input :start_hour, placeholder: "Hora Inicio", input_html: { id: 'start_hour', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "start_hour"}
                    %i.fa.fa-user
              .col-md-4
                %label.field.prepend-icon{:for => "end_hour"}
                  = f.input :end_hour, placeholder: "Hora Fin", input_html: { id: 'end_hour', class: 'gui-input' }, label: false, :wrapper => false
                  %label.field-icon{:for => "end_hour"}
                    %i.fa.fa-user
            .section.row
              .col-md-1
              .col-md-5
                %label.field.select
                  %select#section{:name => "reservation[space_id]"}
                    %option{:value => ""} Seleccione la ubicacion
                    - @spaces.each do |space|
                      %option{:value => "#{space.id}"}= space.id.to_s
          .panel-footer.text-right
            %button.button.btn-primary{:type => "submit"} Registrar
            %button.button{:type => "reset"} Limpiar
          / end .form-footer section
        %a(href="#{reservations_path}" class="btn btn-primary" role="button")
          Volver
    / end: .admin-form

:javascript
  $(document).ready(function () {
    /* @custom validation method (smartCaptcha) 
    ------------------------------------------------------------------ */
        
    $.validator.methods.smartCaptcha = function(value, element, param) {
      return value == param;
    };
            
    $( "#admin-form" ).validate({
    
      /* @validation states + elements 
      ------------------------------------------- */
      
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",
      
      /* @validation rules 
      ------------------------------------------ */
          
      rules: {
        'car[placa]': {
          required: true
        },
        'car[description]': {
          required: true
        }
      },
      
      /* @validation error messages 
      ---------------------------------------------- */
          
      messages:{
        'car[placa]': {
          required: 'Ingresar Placa'
        },
        'car[description]': {
          required: 'Ingresar Descripcion'
        }
      },

      /* @validation highlighting + error placement  
      ---------------------------------------------------- */ 
      
      highlight: function(element, errorClass, validClass) {
              $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
         if (element.is(":radio") || element.is(":checkbox")) {
                  element.closest('.option-group').after(error);
         } else {
                  error.insertAfter(element.parent());
         }
      }
                    
    });
  });