.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Reservaciones
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th ID
            %th Usuario
            %th Lugar
            %th Hora Inicio
            %th Hora Fin
            %th Hora Estado
            %th Acciones
        %tbody
          - @reservations.each do |reservation|
            %tr
              %td
                = reservation.id.to_s
              %td
                = reservation.user.names.to_s + ' ' + reservation.user.last_names.to_s
              %td
                = Space.find(reservation.space_id).name.to_s
              %td
                = reservation.start_hour.to_s
              %td
                = reservation.end_hour.to_s
              %td
                -if reservation.status.to_s == 'waiting'
                  = 'Esperando Confirmación'
                -if reservation.status.to_s == 'accepted'
                  = 'Aceptado'
                -if reservation.status.to_s == 'rejected'
                  = 'Rechazado'
                -if reservation.status.to_s == 'charged'
                  = 'Cobrado'
              %td
                -if current_user.type_of_user_id == 1
                  -if reservation.status == 'waiting'
                    %a.btn.btn-success{:href => "#{accept_reservation_path(reservation.id)}"}
                      Aceptar
                    %a.btn.btn-danger{:href => "#{reject_reservation_path(reservation.id)}"}
                      Rechazar
                  -if reservation.status == 'accepted'
                    %a.btn.btn-primary{:href => "#{charged_reservation_path(reservation.id)}"}
                      Cobrado
                  -if reservation.status == 'charged' && reservation.owner_survey != 1
                    %a.btn.btn-info{:href => "#{fill_survey_owner_reservation_path(reservation.id)}"}
                      Feedback Del Dueño
                -if current_user.type_of_user_id == 2
                  -if reservation.status == 'charged' && reservation.user_survey != 1
                    %a.btn.btn-info{:href => "#{fill_survey_user_reservation_path(reservation.id)}"}
                      Feedback Del Usuario