.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Reservaciones
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th ID
            %th Auto
            %th Lugar
            %th Hora Inicio
            %th Hora Fin
            %th Hora Estado
            %th Acciones
        %tbody
          - @reservations.each do |reservation|
            %tr
              %td
                = reservation.id.to_s
              %td
                = reservation.car_id.to_s
              %td
                = reservation.space_id.to_s
              %td
                = reservation.start_hour.to_s
              %td
                = reservation.end_hour.to_s
              %td
                = reservation.status.to_s
              %td
                %a.btn.btn-success{:href => "#{accept_reservation_path(reservation.id)}"}
                  Aceptar
                %a.btn.btn-danger{:href => "#{reject_reservation_path(reservation.id)}"}
                  Rechazar
                %a.btn.btn-primary{:href => "#{charged_reservation_path(reservation.id)}"}
                  Cobrado
                %a.btn.btn-info{:href => "#{fill_survey_owner_reservation_path(reservation.id)}"}
                  Feedback Del Dueño
                %a.btn.btn-info{:href => "#{fill_survey_user_reservation_path(reservation.id)}"}
                  Feedback Del Usuario