.col-md-12
  .panel.panel-visible
    .panel-heading
      .panel-title.hidden-xs
        %span.glyphicon.glyphicon-tasks>
        Lista de Feedbacks
    .panel-body.pn
      %table.table.table-striped.table-hover{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th{:style => 'text-align:center'} ID
            %th{:style => 'text-align:center'} Quien lo hizo
            %th{:style => 'text-align:center'} Para Quien
            %th{:style => 'text-align:center'} Cod de Reservacion
            %th{:style => 'text-align:center'} Score para Local/Vehículo
            %th{:style => 'text-align:center'} Score para Usuario
            %th{:style => 'text-align:center'} Opinion
            %th{:style => 'text-align:center'} Acciones
        %tbody
          - @surveys.each do |survey|
            %tr
              %td
                = survey.id.to_s
              %td
                = User.find(survey.user_id).names.to_s + ' ' + User.find(survey.user_id).last_names.to_s
              %td
                = User.find(survey.user_id_2).names.to_s + ' ' + User.find(survey.user_id_2).last_names.to_s
              %td
                = survey.reservation_id
              %td{:style => 'text-align:center'}
                = survey.object_score
              %td{:style => 'text-align:center'}
                = survey.user_score
              %td
                = survey.description
              %td{:style => 'text-align:center'}
                %a.btn.btn-success{:href => "#{survey_path(survey.id)}"}
                  Ver Encuesta